.App {
  font-family: "IranSanse";
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  direction: rtl;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
p {
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
}
* {
  font-family: "IranSanse";
}
